<% if session[:id] %>
<a href='/users/<%= @user.id %>/events/new'> Post new Event!</a><br/>
<% end %>

<h1><%= @event.title %></h1>
<%= @event.location %>
<%= @event.date %>

<% if session[:id] %>
<a href='/users/<%= @user.id %>/events/<%= @event.id %>/edit'> Edit event</a><br/>
<form action='/users/<%= @user.id %>/events/<%= @event.id %>' method='post'>
  <input type='hidden' name='_method' value='delete' />
  <input type='submit' value='Delete post' />
</form><br/><br/>
<% end %>
