  <h1> Welcome to Aidup!</h1>

  <% if session[:id] %>
<a href='/users/<%= @user.id %>/events/new'> Post new Event!</a>
  <% end %>

<% @events.each do |event| %>
  <%= event.title %>
  <%= event.location %>
  <%= event.date %>
  <a href='/users/<%= @user.id %>/events/<%= event.id  %>'> See more...</a>
  <% end %>
